*{  /* selector 1 */
    color: #fcfdff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

body{ /* selector 2 */
    background: url('https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-container{ /* selector 3 */
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card { /* selector 4 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    /* height: 25rem; */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.48);
}

.card-img img{ /* selector 5 */
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
}
.card-content{/* selector 6 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile { /* selector 7 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile h4{ /* selector 8 */
    margin: 0;
    margin-top: 0.5rem;
    font-size: 24px;
    font-weight: 500;
}
 
.profile h5{ /* selector 9 */
    margin: 0 0 0.5rem 0;
    font-size: 20px;
    font-weight: 300;
}
.biodata h6{ /* selector 10 */
    margin: 0;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(224, 221, 245);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
ul { /* selector 11 */
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.biodata ul{ /* selector 12 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.biodata ul li{ /* selector 13 */
    font-size: 18px;
    font-weight: 100;
}

.about h6{ /* selector 14 */
    margin: 0;
    margin-top: 1.5rem;
    border-bottom: 1px solid rgb(224, 221, 245);
    text-align: center;
    font-size: 20px;
}

.about{
    width: 80%;
}
.about p{
    text-align: center;
    font-weight: 100;    
}
.contact-icon {
    object-fit: cover;
    width: 50px;
    filter: brightness(0) invert(1);
}
.contact h6 {
    margin: 0;
    margin-bottom: 1rem;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contact-content{
    margin-bottom: 2rem;
}

.contact a {
    text-decoration: none;
    text-align: center;
}

.header h1{
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(216, 215, 221), 0 0 42px rgb(197, 206, 203), 0 0 82px rgb(86, 9, 228),0 0 92px rgb(151, 108, 204);
	color: white;
}

/* Responsive design If needed*/

/* Extra small devices (portrait phones, less than 576px) 
@media (max-width: 575.98px) { 

}
*/

/* Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) and (max-width: 767.98px) {

 }
*/

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) and (max-width: 991.98px) { 

}
*/

/* Large devices (desktops, 992px and up) 
@media (min-width: 992px) and (max-width: 1199.98px) { 

}
*/

/* Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {

}
*/